                  /***** NAVBAR *****/
#main-header {
  background-color: $white-color;
}
/*** Navbar ***/
.navbar {
  .pe-5 {
    padding-right: 10rem !important;
  }

  &-nav {

    .nav{
      &-item{
        padding: 10px 0 15px;
      }

      &-link{
        font-size: var(--smaller-font-size);
        color: $black-color;
        border-radius: 100px;
        padding: .2rem .75rem !important;

        &:hover {
          background-color: $gray-light;
        }
      }
    }
  }
}

/*** Search Area ***/
// Search Bar
.search-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  
  .search {
    &-bar {
      border-radius: 100px;
      background-color: $gray-light;
      border: 1px solid transparent;
    
      &:hover {
        border: 1px solid $blue-color;
      }
    
      input:focus {
        box-shadow: none;
      }
    }
  
    .btn {
      border-radius: 100px;
    }
  }
  
  // Enteries
  #user1 {
    display: none;
    a {
      text-decoration: none;
    }
  }

  #user2 {
    a {
      text-decoration: none;
    }
  }
  
  .users {
    cursor: pointer;
  
    &-icon {
      background-color: $gray-light;
      padding: 1rem;
      border-radius: 50%;
  
      i {
        color: $gray-color;
        font-size: var(--normal-font-size);
      }
    }
  
    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: .5rem;
      color: $gray-color;
      line-height: 1.3;
  
      small {
        font-size: var(--smaller-font-size);
      }
    }
  
    &:hover &-text {
      color: rgba($gray-color, $alpha: .6);
    }
  }
}

// Toggle
.toggle {
  display: none;

  &-btn {
    border: none !important;
    background-color: transparent;

    i {
      font-size: var(--bigger-font-size);
    }
  }

  // OffCanvas
  .offcanvas {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 80vh;

    &-header {
      padding: 2rem 2rem 1rem;

      &-title{
        font-size: var(--bigger-font-size);
        font-weight: $font-bold;
      }

      button {
        font-size: var(--big-font-size);
      }
    }

    &-body {
      padding: 0;
      z-index: 5;
      .accordion {
        &-item {
          border: none;
        }

        &-button {
          font-size: var(--big-font-size);
          font-weight: $font-semibold;
          background-color: $gray-light;
          border-bottom: 1px solid rgba($gray-color, $alpha: .3);
          padding-left: 2rem;

          &:focus {
            color: inherit;
            box-shadow: none;
          }
        }

        &-body {
          padding: 0 1rem;
          a {
            text-decoration: none;
            color: inherit;
          }

          &-row {
            display: flex;
            align-items: center;
            padding: 1rem 0;
            border-bottom: 1px solid rgba($gray-color, $alpha: .3);

            i {
              display: inline-block;
              color: $blue-color;
            }

            span {
              display: inline-block;
              margin-left: 1rem;
              font-weight: $font-semibold;
            }
          }
        }
      }
    }
  }
}

/*** Menu Section ***/
// Menu Fluid
.menu-fluid {
  background-color: $gray-light;
  box-shadow: 0 2px 5px rgba($gray-color, $alpha: .6);
}

// Menu
.menu {
  position: relative;

  > ul {
    display: flex;
    align-items: center;

    > li {
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0 1rem;
      cursor: pointer;

      > p {
        display: flex;
        align-items: center;
        height: inherit;
        text-align: center;
        border-bottom: 3px solid transparent;
        color: $gray-color;

        &:hover{
          border-bottom: 3px solid $blue-color;
        }
      }

      // Hover Menu Hover
      &:hover div {
        display: block;
        transition: all .2s ease 0;
      }
    }
  
    .hr {
      width: 1px;
      height: 2rem;
      background-color: rgb(204, 204, 204);
    }
  }

  // Hover Menu
  &-hover {
    display: none;
    position: absolute;
    width: 100%;
    background-color: $white-color;
    top: 60px;
    left: 0;
    z-index: 10;
    padding: 2rem 4rem;
    box-shadow: 0 3px 5px $gray-color;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    // Menu Hover Links
    &-links {
      margin-bottom: .5rem;

      &-header {
        display: block !important;
        font-size: var(--normal-font-size) !important;
        font-weight: $font-bold;

        &:hover {
          color: $blue-color;
          text-decoration: underline;
        }
      }

      a {
        font-size: var(--smaller-font-size);
        color: $black-color;
        text-decoration: none;
        display: inline-block;
        margin: 0 .2rem 1rem 0;

        &:hover{
          text-decoration: underline;
        }
      }

      .tumunu-gor {
        color: $blue-color;
      }
    }

    // Menu Hover Images
    &-image {
      position: relative;

      div {
        position: absolute;
        bottom: 0;
        padding: 1.5rem;

        p {
          font-size: var(--big-font-size);
          color: $white-color;

          span {
            font-size: var(--smaller-font-size);
          }
        }

        & > span {
          border-radius: 50%;
          padding: .75rem .85rem;
          background-color: transparent;
          border: 2px solid $white-color;
          transition: all 300ms ease;

          i {
            color: $white-color;
          }
        }
      }

      &:hover {
        div > span {
          background-color: $white-color;

          i {
            color: $blue-color;
          }
        }
      }
    }
  }
}

// Login Page Navbar
#login-navbar {
  box-shadow: 2px 2px 5px rgba($gray-color, $alpha: .3);

  .login-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2rem 0;

    .uyelik {
      color: $black-color;
      text-decoration: none;
      font-size: var(--smaller-font-size);

      &:hover {
        color: $blue-color;
      }
    }
  }
}